---
layout: layouts/holding.njk
permalink: /soon/index.html
eleventyExcludeFromCollections: true
description: HEYwire is coming soon. A new way to get low-voltage work done.
---
{% include "svg/lockup-white.svg" %}
<p class="eyebrow">Coming soon</p>
<h1 class="h1">Stay tuned.</h1>
<p class="lede">A new way to get low-voltage work done is on its way.</p>
